@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="base-container">
    <div class="background-container">
        <div class="main-content">
            <header>
                <div style="padding: 100px 0 0 44px;">
                    <div id="logo"></div>
                </div>
            </header>
            <section id="content">
                <div class="inner-container">@RenderBody()</div>
            </section>
            <footer>
                
            </footer>
        </div>
    </div>
</div>


