@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="base-container">
    <div class="background-container">
        <div class="main-content">
            <header>
                
            </header>
            <section id="content">
                <div class="inner-container">@RenderBody()</div>
            </section>
            <footer>
                
            </footer>
        </div>
    </div>
</div>


