<div class="title-text"></div>
<div class="content">
    <div class="section-description">

        <div class="clearfix">
            <div class="margin-right15 pull-left">
                <div class="bordered-picture">
                    <figure>
                        <img alt="" src="../../Images/english_book.jpg">
                    </figure>
                </div>
            </div>

            <div class="margin-right15 pull-left">
                <div class="bordered-picture">
                    <figure>
                        <img alt="" src="../../Images/german.jpg">
                    </figure>
                </div>
            </div>

            <div class="pull-left">
                <div class="bordered-picture">
                    <figure>
                        <img alt="" src="../../Images/sand.jpg">
                    </figure>
                </div>
            </div>
        </div>

        <div class="padding-top25">
            <div>В нашем языковм центре мы предоставляем следующие услуги:</div>
            <div>
                <ul>
                    <li>
                        -групповые и индивидуальные занятия английским языком
                    </li>
                    <li>
                        -индивидуальные занятия немецким языком
                    </li>
                    <li>
                        -литература
                    </li>
                    <li>
                        -рисование песком
                    </li>
                    <li>
                        и другие занятия, направленные на развитие и коррекцию речи.
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</div>
