<div class="title-text"></div>
<div class="content">
    <div class="section-description">
        <div>г.Могилев,ул Габровская 41,офис 5</div>
        <div>тел. +375 44 566 31 36</div>
        <div>режим работы: пн-пт 9:00 - 20:00, сб.10:00 - 18:00</div>

        <div class="bordered-picture" style="width:487px; margin-top: 15px;">
            <figure>
                <img alt="" src="../../Images/map.png">
            </figure>
        </div>
    </div>


</div>
