@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}

<div class="faded">
    г.Могилев,ул Габровская 41,офис 5
тел. +_375 44 566 31 36
режим работы пон-пт 9 00- 20 00, сб.10 00-18 00
</div>

<script type="text/javascript">
    var baseLayoutView = new BaseLayoutView({activeTab: "#contacts"});
</script>
