<div class="title-text"></div>
<div class="content">
    <div class="section-description">
        <div>г.Могилев,ул Габровская 41,офис 5</div>
        <div>тел. +375 44 566 31 36</div>
        <div>режим работы: пн-пт 9:00 - 20:00, сб.10:00 - 18:00</div>
        <div>
            <a id="map-link" tab href="http://map.by/streets/%D0%9C%D0%BE%D0%B3%D0%B8%D0%BB%D1%91%D0%B2/%D0%93/%D0%93%D0%B0%D0%B1%D1%80%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F%20%D1%83%D0%BB./41">
                Посмотреть на карте
            </a>
        </div>
        <div class="bordered-picture" style="width:487px; margin-top: 5px;">
            <figure>
                <img alt="" src="../../Images/map.png">
            </figure>
        </div>
    </div>
</div>
