<div class="title-text"></div>
<div class="content">
    <div class="section-description">
        г.Могилев,ул Габровская 41,офис 5
        тел. +_375 44 566 31 36
        режим работы: пн-пт 9:00 - 20: 00, сб.10:00 - 18:00
    </div>

    
</div>