@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}


<div id="content-wrapper">
    <ul class="slide-content">
        <li id="main" class="current">
            @Html.Action(Actions.About)
        </li>
        <li id="about" class="current">
            @Html.Action(Actions.About)
        </li>
        <li id="contacts">
            @Html.Action(Actions.Contacts)
        </li>
    </ul>
</div>

<script type="text/javascript">
    var baseLayoutView = new BaseLayoutView({ activeTab: "#main" });
</script>


