<div class="title-text"></div>
<div class="content">
    <div class="section-description">

        <div class="padding-top20">
            В центре языкового развития и коррекции речи <strong>«Дядя FёдоR»</strong> Вам предложат ряд разнообразных и разноуровневых занятий. 
        </div>

        <div class="padding-top25 clearfix">
            <div class="pull-left bordered-picture margin-right20">
                <figure>
                    <img alt="" src="../../Images/main.jpg">
                </figure>
            </div>
            <div class="padding-top10">
                Кроме занятий инстранным языком, мы разработали уроки, направленные на коррекцию речи, обогащение словарного запаса 
                родного языка, повышение концентрации внимания и развития памяти. Занятия проводятся с использованием литературы, 
                изданной в странах изучаемых языков, а также аудио- и видеоаппаратуры. 
            </div>
        </div>

        <div class="padding-top25">
            Мы предлагаем интересную и эффективную программу, которая поможет вашему ребенку освоить иностранный язык легко и с удовольствием.
        </div>

        @*    Центр языкового расвития и коррекции речи "Дядя FедоR".
        г.Могилев,ул Габровская 41,офис 5
        тел. +_375 44 566 31 36
        режим работы пон-пт 9 00- 20 00, сб.10 00-18 00
        -групповые и индивидуальные занятия английским языком
        -индивидуальные занятия немецким языком
        -литература
        -рисование песком
        и другие занятия, направленные на развитие и коррекцию речи.
        Дети могут начать изучать английский язык с 4-х лет, то есть с того момента, когда они уже свободно владеют родным языком. В этом возрасте английский язык детям дается особенно легко, так что к шести годам дети, регулярно посещающие курсы английского, овладевают базовыми навыками чтения и письма, свободно общаются в рамках изученных тем и не имеют никакого языкового барьера. За последние 5-6 лет число людей, изучающих английский, резко возросло. То, что без знания иностранных языков современному человеку обойтись невозможно, стало очевидным почти для всех. Изменился и возраст учащихся. Если до сих пор методика ориентировалась прежде всего на школьников, то теперь родители стремятся как можно раньше начать обучение детей иностранному языку. Тем более, что дошкольный возраст признан психологами наиболее благоприятным периодом для этого вида деятельности.
        Изменившаяся ситуация создает все возрастающую потребность общества в квалифицированных преподавателях. Отсутствие их приводит к довольно печальным последствиям. Люди едва владеющие основами языка, считают себя способными учить дошкольников, поскольку маленьким детям этих знаний, якобы, вполне достаточно. В результате не просто бесполезно тратится время, но и наносится ущерб дальнейшему продвижению детей в этой области: ведь переучивать всегда тяжелее, чем учить, и исправить дурное произношение труднее, чем поставить звуки с ''нуля''. Но даже когда к малышам приходят люди, прекрасно знающие язык, им не всегда удается добиться желаемого результата: обучение малышей – это очень непростое дело, которое требует совсем иного методического подхода, чем обучение школьников и взрослых. Столкнувшись с методически беспомощными уроками, дети могут надолго приобрести отвращение к иностранному языку, разувериться в своих возможностях. В нашем центре работают только талантливые, креативные и высокообразованные преподаватели!

        Согласно современным исследованиям, к трехлетнему возрасту развитие головных клеток мозга завершается на 70-80%. Вот что пишет об этом Глен Доман (американский врач, в настоящее время возглавляет институт достижения человеческого потенциала в Филадельфии. Автор книг «Гармоничное развитие ребенка», «Как дать вашему ребенку энциклопедические знания» и др.): «Если какой-нибудь взрослый захочет быстро приобрести комплекс неполноценности, то все, что для этого надо сделать - это посоревноваться в изучении иностранного языка с 4 летним малышом.».*@
    </div>
</div>
