.green-highlight {
    color: #428301;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.margin-right15 {
    margin-right: 15px;
}

.margin-right20 {
    margin-right: 20px;
}

.padding-top10 {
    padding-top: 10px;
}

.padding-top25 {
    padding-top: 25px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

.column30 {
    width: 30%;
}