ul, ol { list-style: none;}

body {
    background: url("../images/bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0;
    color: #363636;
    font: 14px/20px Arial,Helvetica,sans-serif;
}

header {
    height:266px;
    width:100%;
    overflow: hidden;
}

footer {
    min-height: 160px;
}

.base-container {
    background:url(../images/bg_top.jpg) top repeat-x;
    height:100%;
    min-height: 745px;
}

.background-container {
    background:url(../images/bg_img.jpg) top center no-repeat;
    height:100%;
    min-height: 745px;
}


.main-content {
    margin: 0 auto;
    width: 900px;
}

.inner-container {
    height: 100%;
    position:relative;
    z-index:10
}

#content {
    height:372px;
    width:100%;
    overflow:hidden;
    background:#fff;
    position: relative;
    border-radius: 20px;
}

#content-wrapper {
    height: 100%;
}

.slide-content {
    height: 100%;
    position: relative;
}

.slide-content .slide-action {
    background:url(../images/bg_content_right.jpg) top right no-repeat;
    float:left;
    overflow:hidden;
    margin: 3px 5px 0;
    width: 60px;
    height: 100%;
    position: absolute;
}

.slide-content .slide-action .title-text {
    width: 60px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

.slide-content .slide-action .content {
    height: 100%;
    width: 660px;
    position: absolute;
    left: 60px;
    top: 0;
}

.slide-content .slide-action .content .section-description {
    padding: 15px 80px 15px 40px;
}
#main .title-text {background:url(../images/page_1.gif) 0 0 no-repeat}
#gallery .title-text {background:url(../images/page_2.gif) 0 0 no-repeat}
#about .title-text {background:url(../images/page_3.gif) 0 0 no-repeat}
#page_4 .title-text {background:url(../images/page_4.gif) 0 0 no-repeat}
#contacts .title-text {background:url(../images/page_5.gif) 0 0 no-repeat}
#main.active .title-text, #main:hover .title-text {background:url(../images/page1_active.gif) 0 0 no-repeat}
#gallery.active .title-text, #gallery:hover .title-text {background:url(../images/page2_active.gif) 0 0 no-repeat}
#about.active .title-text, #about:hover .title-text {background:url(../images/page3_active.gif) 0 0 no-repeat}
#page_4.active .title-text, #page_4:hover .title-text {background:url(../images/page4_active.gif) 0 0 no-repeat}
#contacts.active .title-text, #contacts:hover .title-text {background:url(../images/page5_active.gif) 0 0 no-repeat}

.bordered-picture {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

#logo {display:block;background:url(../images/logo.png) no-repeat;width:440px;height:100px;text-indent:-9999px}